<h3><a href="#/">Sport</a> : {{vm.sportName}}</h3>

<div class="col-md-4">
    <h4>Live Event list</h4>
    <ul>
        <li ng-repeat="data in vm.data | filter : { IsLive: true }">
            <a href="" ng-click="vm.goToEvent(data)">
                {{data.Name}}
            </a>
        </li>
    </ul>
    <hr>
    <h4>PreMatch Event list</h4>
    <ul>
        <li ng-repeat="data in vm.data | filter : { IsLive: false }">
            <a href="" ng-click="vm.goToEvent(data)">
                {{data.Name}}
            </a>
        </li>
    </ul>
</div>
<div class="col-md-8" ui-view></div>