<div class="well">
    <h3>Event : {{vm.eventName}} - Matches in next 24 hours</h3>

    <h4>Live Matches list</h4>

    <div class="list-height-limit">
        <ul>
            <li ng-repeat="data in vm.data | filter : { MatchType: 'Live' }">
                <a ui-sref="sport_detail.event_detail.match({matchId: data.Id})">{{data.Name}} - {{data.StartDate |
                    date:'MMM dd, yyyy hh:mm:ssa'}} </a>
            </li>
        </ul>
    </div>
    <hr>
    <h4>Prematch Matches list</h4>

    <div class="list-height-limit">
        <ul>
            <li ng-repeat="data in vm.data | filter : { MatchType: 'PreMatch' }">
                <a ui-sref="sport_detail.event_detail.match({matchId: data.Id})">{{data.Name}} - {{data.StartDate |
                    date:'MMM dd, yyyy hh:mm:ssa'}} </a>
            </li>
        </ul>
    </div>
</div>
<div ui-view></div>