<h3>Welcome to Ultra Play</h3>

<div>
    <h4>Sport list</h4>
    <ul>
        <li ng-repeat="data in vm.data">
            <a ui-sref="sport_detail({sport_id: data.Id})">{{data.Name}}</a>
        </li>
    </ul>
</div>