<div class="page-header">
    <h3>
        Selected Match: {{match.data.Name}}
        <small>{{match.data.StartDate | date:'MMM dd, yyyy hh:mm:ssa'}}</small>
    </h3>
</div>
<div class="panel panel-default">
    <div class="panel-body">
        <p>Current status: {{match.data.MatchType}}</p>
        <h6>Bets List:</h6>

        <div class="row" ng-repeat="bet in match.data.Bets">
            <div class="col-md-12">
                <header>
                    {{bet.Name}}
                    <small>{{bet.IsLive?"Live":""}}</small>
                </header>
                <ul>
                    <li ng-repeat="odd in bet.Odds">
                        <label>Odd Name: </label> {{odd.Name}}<br />
                        <label>Value: </label> {{odd.Value}}
                        <span class="label"
                              ng-class="{
                                        'label-info': odd.Value>odd.OldValue,
                                        'label-danger': odd.Value<odd.OldValue
                                        }">
                            <i class="animated glyphicon"
                               ng-class="{
                                        'bounceIn glyphicon-arrow-up': odd.Value>odd.OldValue,
                                        'bounceIn glyphicon-arrow-down': odd.Value<odd.OldValue
                                        }"></i>
                        </span>
                        <br />
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>